<nav class="navbar w-full bg-gray-100 p-4">
  <a href="/" class="text-xl">任務管理系統</a><span class="px-2 text-base">hello, Rails :)</span>
  
  <% if current_user %>
    <%= current_user.email %>
    <%= link_to "登出", log_out_users_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to "登入", log_in_users_path %>
    <%= link_to "註冊", new_users_path %>
  <% end %>
</nav>